<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Pictures:</h2>
<ul *ngFor="let image of images.photos">
  <li><a (click)="showImage(image);"><img src="{{image.img_src}}"></a></li>
</ul>

<div class="row" id="overlay" (click)="hideOverlay()">
  <div class="column left"><img class="overlay_img" [src]="currentImage.img_src"></div>
  <div class="column overlay_text right">foo</div>
</div>

<router-outlet></router-outlet>
