<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="preview">
  <div class="gallery" *ngFor="let image of images.photos" (click)="showImage(image)">
      <img [src]="image.img_src" style="max-width: 600px" height="400">
    <div class="desc">{{image.camera.name}}<br>
    {{image.rover.name}}</div>
  </div>
</div>

<div class="row" id="overlay" (click)="hideOverlay()">
  <div class="column left"><img class="image" [src]="currentImage.img_src"></div>
  <div class="column overlay_text right">
    <table>
      <tr>
        <td>Rover:</td>
        <td>{{currentImage.rover.name}}</td>
      </tr>
      <tr>
        <td>Kamera:</td>
        <td>{{currentImage.camera.full_name}}</td>
      </tr>
      <tr>
        <td>Aufnahmedatum:</td>
        <td>{{currentImage.earth_date}}</td>
      </tr>
      <tr>
        <td>Gelandet am:</td>
        <td>{{currentImage.rover.landing_date}}</td>
      </tr>
    </table>
    <br>
    <i>Dies ist eines von {{currentImage.rover.total_photos}} Fotos von {{currentImage.rover.name}}.</i>
  </div>
</div>

<router-outlet></router-outlet>
