* {
  font-family: sans-serif;
}

#overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.overlay_text {
  top: 20%;
  color: white;
}

td:first-child {
  font-weight: bold;
}

.column {
  float: left;
  padding: 10px;
  height: 100%;
}

.left {
  width: 66%;
  text-align: right;
}

.right {
  width: 34%;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  height: 320px;
}

div.gallery:hover {
  border: 1px solid #777;
  transform: scale(1.05);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
